$font_padrao: 'Lato', sans-serif;
$font_serif:'Crimson Text', serif;

$white: #fff;
$black: #121212;
$yellow: #ffe400;

/*animation*/
$transition: all 0.4s;

*{
	outline: none;
}

// Padrao

body{
	font-family: $font_padrao;
	transition:$transition;
}
h1,h2,h3,h4,h5,h6{
		font-family: $font_padrao;
		font-weight: bold;margin: 0;
		line-height: normal;
}
ul,li{
	list-style: none;
	margin:0;
	padding:0;
}
p{
		line-height: normal;
	}

a,
button{
	outline: none;
	color:$yellow;
	transition: all 0.4s;
	&:hover,
	&:focus,
	&:active{
		color: inherit;
		text-decoration: none;
	}
}
/*forms*/
.uk-button{
	&.uk-button-primary{
		background:transparent;
		border:2px solid $yellow;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		padding: 6px 30px;
		border-radius: 40px;-webkit-border-radius: 40px;-moz-border-radius: 40px;
		letter-spacing: 3px;
		&:hover{
			background:$yellow;
			color: $black;
			letter-spacing: 5px;
		}
	}
	&.uk-button-small{
		background:$yellow;
		// border:2px solid ;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		padding: 2px 20px !important;
		border-radius: 40px;-webkit-border-radius: 40px;-moz-border-radius: 40px;
		letter-spacing: 3px;
		&:hover{
			color: $yellow !important;
			background: $black !important;
		}
	}
}


body.black-theme{
	background: $black;
	color:$white;
	h1,h2,h3,h4,h5,h6{
		color:$white;
	}
	.menu-content{
		a{
			color: $white;
		}
	}
	.icone-busca-menu{
			color: $white;
		}
	.uk-button{
		&.uk-button-primary{
			color: $black;
			background: $yellow;
			&:hover,&:focus,&:active{
				color: $black;
				background: $yellow;
			}
		}
	}
	.opacity-back{
		background: rgba(255,255,255,0.05);
	}
	.container-tabs{
		&::before{
			background: rgba(255,255,255,0.1);
		}
		.tabnav-padrao{
			li{
				a{
					color: $white;
				}
			}
		}
	}
	.title-sections{
		&::before{
			border: 8px solid rgba(255,255,255,0.2);
			}
	}
	.uk-form select, .uk-form textarea, .uk-form input:not([type]), .uk-form input[type="text"], .uk-form input[type="password"], .uk-form input[type="datetime"], .uk-form input[type="datetime-local"], .uk-form input[type="date"], .uk-form input[type="month"], .uk-form input[type="time"], .uk-form input[type="week"], .uk-form input[type="number"], .uk-form input[type="email"], .uk-form input[type="url"], .uk-form input[type="search"], .uk-form input[type="tel"], .uk-form input[type="color"]{
	background: transparent; border: 2px solid rgba(255,255,255,0.2); 
	color: $white;
	}
	.uk-form select:focus, .uk-form textarea:focus, .uk-form input:not([type]):focus, .uk-form input[type="text"]:focus, .uk-form input[type="password"]:focus, .uk-form input[type="datetime"]:focus, .uk-form input[type="datetime-local"]:focus, .uk-form input[type="date"]:focus, .uk-form input[type="month"]:focus, .uk-form input[type="time"]:focus, .uk-form input[type="week"]:focus, .uk-form input[type="number"]:focus, .uk-form input[type="email"]:focus, .uk-form input[type="url"]:focus, .uk-form input[type="search"]:focus, .uk-form input[type="tel"]:focus, .uk-form input[type="color"]:focus{
		border-color: $white; color: $white;
	}
	.uk-form
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: rgba(255,255,255,0.5);
	  text-transform: uppercase;
	}
	.uk-form
	::-moz-placeholder { /* Firefox 19+ */
	  color: rgba(255,255,255,0.5);
	  text-transform: uppercase;
	}
	.uk-form
	:-ms-input-placeholder { /* IE 10+ */
	  color: rgba(255,255,255,0.5);
	  text-transform: uppercase;
	}
	.uk-form
	:-moz-placeholder { /* Firefox 18- */
	  color: rgba(255,255,255,0.5);
	  text-transform: uppercase;
	}
	.idioma-menu{
		ul{
			li{
				&.active{
					a{
					background: rgba(255,255,255,0.2);
					color: $black;
						&:hover{
						background: rgba(255,255,255,0.2);
						color: $black;
						}
					}
				}
				a{
				color: $white;
					&:hover{
					background: $white;
					color: $black;
					}
				}
			}
		}
	}
	.wing{
		fill:transparent;
	}
	.company-block{
		img{
			-webkit-filter: invert(100%); /* Safari */
    		filter: invert(100%);
		}
	}
	.master-header.uk-active{
		background:$black;
	}
	.logo-top-empresas{
		svg *{
			fill:$white;
		}
	}
	.drop-mobile{
		a{
			color: $white;
		}
	}
	.menu-mobile{
		.uk-offcanvas-bar{
			background: $black;
		}
	}
}


body.white-theme{
	
	background: $white;
	color:#333;
	h1,h2,h3,h4,h5,h6{
		color:$black;
	}
	p strong{
		color: $black;
	}
	.menu-content{
		a{
			color: $black;
		}
	}
	.icone-busca-menu{
			color: $black;
		}
	.text-banner span{
		color: $black;
	}
	.uk-button{
		&.uk-button-primary{
			color: $black;
			background: $yellow;
		}
	}
	.opacity-back{
		background: rgba(0,0,0,0.05);
	}
	.container-tabs{
		&::before{
			background: rgba(0,0,0,0.05);
		}
		.tabnav-padrao{
			li{
				a{
					color: $black;
				}
			}
		}
	}
	.title-sections{
		&::before{
			border: 8px solid rgba(0,0,0,0.1);
			}
	}
	.uk-form select, .uk-form textarea, .uk-form input:not([type]), .uk-form input[type="text"], .uk-form input[type="password"], .uk-form input[type="datetime"], .uk-form input[type="datetime-local"], .uk-form input[type="date"], .uk-form input[type="month"], .uk-form input[type="time"], .uk-form input[type="week"], .uk-form input[type="number"], .uk-form input[type="email"], .uk-form input[type="url"], .uk-form input[type="search"], .uk-form input[type="tel"], .uk-form input[type="color"]{
	background: transparent; border: 2px solid rgba(0,0,0,0.07); 
	color: $black;
	}
	.uk-form select:focus, .uk-form textarea:focus, .uk-form input:not([type]):focus, .uk-form input[type="text"]:focus, .uk-form input[type="password"]:focus, .uk-form input[type="datetime"]:focus, .uk-form input[type="datetime-local"]:focus, .uk-form input[type="date"]:focus, .uk-form input[type="month"]:focus, .uk-form input[type="time"]:focus, .uk-form input[type="week"]:focus, .uk-form input[type="number"]:focus, .uk-form input[type="email"]:focus, .uk-form input[type="url"]:focus, .uk-form input[type="search"]:focus, .uk-form input[type="tel"]:focus, .uk-form input[type="color"]:focus{
		border-color: $black; color: $black;
	}
	.uk-form
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: rgba(0,0,0,0.5);
	  text-transform: uppercase;
	}
	.uk-form
	::-moz-placeholder { /* Firefox 19+ */
	  color: rgba(0,0,0,0.5);
	  text-transform: uppercase;
	}
	.uk-form
	:-ms-input-placeholder { /* IE 10+ */
	  color: rgba(0,0,0,0.5);
	  text-transform: uppercase;
	}
	.uk-form
	:-moz-placeholder { /* Firefox 18- */
	  color: rgba(0,0,0,0.5);
	  text-transform: uppercase;
	}
	.idioma-menu{
		ul{
			li{
				&.active{
					a{
					background: rgba(0,0,0,0.2);
					color: $white;
						&:hover{
						background: rgba(0,0,0,0.2);
						color: $white;
						}
					}
				}
				a{
				color: $black;
					&:hover{
					background: $black;
					color: $white;
					}
				}
			}
		}
	}
	.logo-color{
		path,polygon{
			fill: $black;
		}
	}
	.link_companies{
		background: $yellow;
		&:before,&:after{
			background: $black;
		}
	}
	.master_banner .text-banner .post-categories{
			li{
				a{
					color: $black !important;
				}
			}
		}
	.mask-case{
		background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		}
	.master-header.uk-active{
		background:$white;
	}

	.uk-dotnav-contrast>.uk-active>*{
		background: $black;
	}
	.uk-dotnav-contrast>*>*{
		background: rgba(0,0,0,0.4);
	}
	.logo-top-empresas{
		svg *{
			fill:$black;
		}
	}
	.drop-mobile{
		a{
			color: $black;
		}
	}
	.menu-mobile{
		.uk-offcanvas-bar{
			background: $white;
		}
	}
}

.uk-dotnav li{
	width:20px;
	text-align:center;
}
.uk-dotnav>*>*{
	width:12px; height:12px;
	vertical-align:middle;
	display: inline-block;
}
.uk-dotnav-contrast>.uk-active>*{
	width:20px; height:20px;
	vertical-align:middle;
	display: inline-block;
}


/*conteudo*/
.yellow-back{
	background:$yellow;
}
.full-padding-content{
	padding: 50px 25px;
}
.padding-content{
	padding: 50px 0;
}
.title-sections{
	font-size:24px;
	text-transform: uppercase;
	font-weight:bold;
	letter-spacing: 22px;
	position:relative;
	padding: 24px 0px 24px 32px;
	margin: 20px 0 5% 0;
	&::before{
		display: block;
		content: " ";
		width: 60px; height:60px;
		position: absolute;
		top: 0;left: 0;
	}
}
.min-title{
	font-size: 16px; font-weight: bold;
	padding: 5% 0;
	span{
		display: block;
		font-family: $font_serif;
		font-style: italic;font-size:16px;
		font-weight: normal;
		padding:3px 0;
		strong{
			color: #fc3663;
			font-size: 24px;
		}
	}
}
.subtitle-sections{
	color: $yellow !important;
	text-transform: uppercase;
	font-weight:bold;
	font-size:20px;
	letter-spacing:20px;
	margin-top:5%;
	margin-bottom:5%;
	padding-top:20px;
	padding-bottom:20px;
	clear:both;
}
p{
	font-family:$font_serif;
	font-size:20px; line-height: 34px;
	strong{
		color: $yellow;
	}
}

.container-tabs{
	text-align:center;
	position:relative;
	&::before{
		content:' '; display:block; 
		height:2px; width:100%; position:absolute; bottom:5px;
	}
	.tabnav-padrao{
		margin: 0;
		display:inline-block;
		li{
			padding:0 10px;
			display: inline-block;
			a{
				text-transform: uppercase;
				font-size: 14px;
				font-weight: bold;
				letter-spacing: 5px;
				border-bottom:2px solid transparent;
				display: inline-block; padding:10px 0;
				&:hover{
					color: $yellow;
				}
			}
			&.uk-active{
				a{
					color: $yellow;
					border-color: $yellow;
				}
			}
		}
	}
}

.uk-form select, .uk-form textarea, .uk-form input:not([type]), .uk-form input[type="text"], .uk-form input[type="password"], .uk-form input[type="datetime"], .uk-form input[type="datetime-local"], .uk-form input[type="date"], .uk-form input[type="month"], .uk-form input[type="time"], .uk-form input[type="week"], .uk-form input[type="number"], .uk-form input[type="email"], .uk-form input[type="url"], .uk-form input[type="search"], .uk-form input[type="tel"], .uk-form input[type="color"]{
	background: transparent;
	font-size:16px;font-weight: bold;padding: 15px;
	min-height: 50px;resize: none;
}
.uk-form select:focus, .uk-form textarea:focus, .uk-form input:not([type]):focus, .uk-form input[type="text"]:focus, .uk-form input[type="password"]:focus, .uk-form input[type="datetime"]:focus, .uk-form input[type="datetime-local"]:focus, .uk-form input[type="date"]:focus, .uk-form input[type="month"]:focus, .uk-form input[type="time"]:focus, .uk-form input[type="week"]:focus, .uk-form input[type="number"]:focus, .uk-form input[type="email"]:focus, .uk-form input[type="url"]:focus, .uk-form input[type="search"]:focus, .uk-form input[type="tel"]:focus, .uk-form input[type="color"]:focus{
	background: transparent !important; 
}
.uk-form input:-webkit-autofill, .uk-form textarea:-webkit-autofill, .uk-form select:-webkit-autofill {
	background:transparent !important;
	color: $yellow !important;
}
.required {
	input, textarea{
		padding-left: 24px !important;
	}
	.wpcf7-form-control-wrap{
		position:relative;display:block;
		&:before{
			content: ' '; width:8px; height:8px; background: #fc3663;display:block;
			position: absolute; left: 12px;border-radius: 100%;top: 22px;
		}
	}
	.wpcf7-not-valid-tip{
		color: $white;
		font-size: 10px;
		text-transform: uppercase;
		padding: 5px 0;
	}
}
div.wpcf7-response-output{
	text-align:center;
	padding:20px;
	margin:20px 0;
	text-transform: uppercase;
}
div.wpcf7-validation-errors{
	&:before{
		font-family: FontAwesome;
		content: '\f071';
		display: block;
		padding-bottom:10px;
		font-size: 24px;
	}
	border-color: $yellow;
	color: $yellow;
}