
.master-header{
	position: absolute;
	width:100%; top:0;
	z-index: 999;
	min-height:60px;
		.logo-top{
		padding:5px 0;
		svg{
			max-height:45px;
			width: auto;
		}
	}
}
.menu-top{
		.menu-content{
			display: inline-block;
			ul{
				display: block;margin:0;
				li{
					list-style: none;
					display: inline-block;
					a{
						font-size: 12px;
						font-family: $font_padrao;
						text-transform:uppercase;
						font-weight: bold;
						letter-spacing: 2px;
						padding:20px 10px;
						display: block;
					}
					&.uk-active a,&:hover a{
						color: $yellow;
					}
				}
			}
		}
		.theme-switcher{
			display: inline-block;
			padding:15px 10px;
			vertical-align: middle;
			span{
				display: block;
				background:transparent;
				border:2px solid $white;
				border-radius: 40px;-webkit-border-radius: 40px;-moz-border-radius: 40px;
				width: 42px;
				height: 18px;
    			padding: 2px;
				position: relative;
				cursor: pointer;
				&::before{
					display: block;
					content: ' '; background: $white;
					width: 18px; height:18px;position:absolute;
					border-radius: 100%;-webkit-border-radius: 100%;-moz-border-radius: 100%;
					left: 2px;
					transition: $transition;
				}
				&.is-active{
					border-color:$black;
					&::before{
						left: 26px;
						transition: $transition;
						background: $black;
					}
				}
			}

		}
		.icone-busca-menu{
			font-size: 22px;
			display: inline-block;
			padding:14px 10px;
		}
		.idioma-menu{
			display: inline-block;
			padding-left: 10px;
			ul{
				padding:0; margin:0;
				li{
					list-style: none;
					display: inline-block;
					padding: 0 3px;
					a{
						display: block;
						text-transform: uppercase;
						width: 20px;
						height: 20px;
						padding:3px;
						border-radius:100%;
						font-weight: bold;
						text-align: center;
	    				font-size: 11px;
					}
				}
			}
		}
	}

.master_banner{
	.uk-position-cover{
		padding-top:60px;
	}
	.text-banner{
		h2,h2 p{
			font-size: 80px;
			font-weight: bold;
			text-transform: uppercase;
			line-height: normal;
			font-family: $font_padrao;
			strong{
				color: $yellow;
			}
		}
		.post-categories{
			list-style: none;
			padding: 0; margin: 0;
			li{
				a{
					font-family: $font_serif;
					font-size: 18px;
					font-style: italic;
					display: inline-block;
					border-bottom: 2px solid $yellow; 
					padding: 5px 0;
					text-decoration: none;
					margin-right: 5px;
				}
			}
		}
	}
	.uk-dotnav{
		padding:20px 0;
	}

}
.significado-bats{
	text-transform:uppercase;
	letter-spacing: 7px; text-align: center;
	font-size:15px;line-height:26px;
}
.companies-content{
	background: url(../imagens/companies-back.png) no-repeat center center;
	.company-block{
		margin: 20px 0;
	}
	.link_companies{
		border: 2px solid $yellow;
		width: 20px;
		height: 20px;
		padding: 10px;
		display: inline-block;
		position: relative;
		margin: 10px 0;
		&:before,&:after{
			display: block;
			content: ' ';
			position: absolute;
			width: 20px; height:2px;
			background: $white;
			top: 18px;
			transition: $transition;
		}
		&:after{
			-moz-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			transform: rotate(90deg);
			transition: $transition;
		}
		&:hover{
			background: $yellow;
			&:before{
				-moz-transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				transform: rotate(90deg);
				transition: $transition;
				background: $black;
			}
			&:after{
				-moz-transform: rotate(180deg);
				-webkit-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				transform: rotate(180deg);
				transition: $transition;
				background: $black;
			}
		}
	}
}
.blocks-services{
	text-align: center;
	padding:20px 0;
	p{
		font-family: $font_padrao;
		font-size: 16px;
		line-height: 26px;
	}
}

.case-box{
	margin:20px;
	text-align:center;
	position: relative;
	.mask-case{
		position:absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: -moz-linear-gradient(top, rgba(18,18,18,0) 0%, rgba(18,18,18,0.8) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(18,18,18,0) 0%,rgba(18,18,18,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(18,18,18,0) 0%,rgba(18,18,18,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00121212', endColorstr='#121212',GradientType=0 ); /* IE6-9 */
		.container-case{
			position: absolute;
			bottom:0;
			padding: 10px 0;
			width: 100%;
			h3.min-title{
				font-size: 14px; font-weight: bold;padding:0; 
			}
			p{
				font-size: 14px; font-style: italic;
				margin: 5px 0; color: $yellow;
			}
		}
	}
}

.post-block-home{
		margin-top: 20px;
	}
.post-list-content{
	position:relative;
	&::before{
		content: ' '; position: absolute; height:2px; bottom: 0; width:20%; background: $yellow;
		transition: $transition;
	}
	&:hover::before{
		width: 100%;
		transition: $transition;
	}
	h3{
		font-family: $font_serif;
		font-size: 20px;
	}
	date{
		font-size: 12px;
		padding:10px 0;
		display: block;
	}
}

.menu-rdp{
	list-style: none;
	display: inline-block;
	.menu-content{
		li{
			display:inline-block;
			padding:0 15px;
			a{
				color: $black;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: bold;
				letter-spacing: 5px;
				display: block;
				padding:5px 0;
				border-bottom: 2px solid transparent;
				&:hover{
					border-color: $black;
				}
			}
		}
	}
}
.modal-busca{
	.uk-modal-dialog{
		background: transparent;
		.uk-close{
			width: 100%;
			text-align: center;
			font-size: 30px;
			color: $yellow;
			opacity: 1;
		}
		input{
			background:transparent;
			border:0 !important;
			width: 100%;
			font-size: 40px;
			font-weight: bold;
			text-align: center;
			color: $white !important;
			margin:20px 0;
		}
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: #fff !important;
		}
		::-moz-placeholder { /* Firefox 19+ */
		  color: #fff !important;
		}
		:-ms-input-placeholder { /* IE 10+ */
		  color: #fff !important;
		}
		:-moz-placeholder { /* Firefox 18- */
		  color: #fff !important;
		}
	}
}
.menu-companies{
	list-style: none;
	display: inline-block;
	li{
		display:inline-block;
		padding:0 5px;
		a{
			color: $black;
			font-size: 12px;
			display: block;
			padding:3px 0;
			border-bottom: 2px solid transparent;
			&:hover{
				border-color: $black;
			}
		}
	}
}
.foot-rdp{
	border-top: 2px solid rgba(0,0,0,0.1);
	padding-top: 10px;
	.logo-rdp{

	}
	.copyright-rdp{
		text-transform: uppercase;
		color: $black;
		letter-spacing: 3px;
		font-size: 9px;
		font-weight: bold;
		padding:10px;
	}
	.social-rdp{
		list-style: none;
		display: inline-block;
		li{
			display: inline-block;
			a{
				color: $black;
				padding: 10px;
				display: inline-block;
				&:hover{
					color: $yellow;
					background:$black;
				}
			}
		}
	}
}

.cat-list-content{
	padding:20px 0;
}
.post-block-cat{
	padding:20px 0;
}
/*blog list*/
.container-blog-list{
	padding:40px 0;
}
/*singles*/
.master_banner-single{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d73566+0,f7e400+100 */
background: rgb(215,53,102); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(215,53,102,1) 0%, rgba(247,228,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(215,53,102,1) 0%,rgba(247,228,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(215,53,102,1) 0%,rgba(247,228,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d73566', endColorstr='#f7e400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	.intro-title{
		text-align: center;
	}
	h1{
		margin:20px 0;
	}
}
.content-single{
	padding:40px 0;
}
.master-header-blog{
	position:relative;
}
.container-sidebar{
	padding:40px 0;
	input{
		width: 100%;
	}
	.blog-sidebar-adv{
		h2{
			padding:40px 0 10px 0;
		}
		.tagcloud{
			
		}
	}
}
.content-single{
	.size-single-thumb {
	    float: left;
	    margin: 0 30px 20px 0;
	}
}

/*empresas*/
.master_banner-empresas{
	position:relative;
	padding-top:60px;
	h1{
		font-size: 36px; text-transform: uppercase;
		letter-spacing: 16px;
		padding-top:5%; font-weight:bold;
	}
	.intro-empresa{
		font-size: 18px;
		font-style: italic;
		padding:5px 0 20px 0;
		span{
			height: 1px;
		    width: 50px;
		    display: inline-block;
		    vertical-align: middle;
		    margin-right: 10px;
		}
	}
	.imagem-destaque-empresa{
		position:absolute;
		top:10%;
		right: 25px;
		width: 35%;
		box-shadow: 0 0 50px rgba(0,0,0,0.2);
	}
}

/*resultados busca*/
.small-metas{
	font-style: italic;
	font-size:16px;
	line-height: normal;
}
.navigation{
	padding:20px 0;
	.alignleft,.alignright{
		a{
			background: $yellow;
			color: $black;
			text-transform: uppercase;
			font-weight: bold;
			padding:10px 20px;
			display: inline-block;
		}
	}
}

/*mobile*/
.drop-mobile{
		a{
			font-size: 30px;
    		padding: 12px 0;
		}
}

.menu-mobile{
	.uk-offcanvas-bar{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d73566+0,f7e400+100 */
background: rgb(215,53,102); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(215,53,102,1) 0%, rgba(247,228,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(215,53,102,1) 0%,rgba(247,228,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(215,53,102,1) 0%,rgba(247,228,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d73566', endColorstr='#f7e400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		padding:20px;
		.menu-content{
			display: block;
			ul {
				display: block;
				li{
				display: block;
					a{
						font-size: 16px;
						padding:15px 0;
					}
				}
			}
		}
		.theme-switcher,.idioma-menu{
			padding:15px 0;
			display: block;
		}
	}
}

@media screen and (max-width: 768px) {
	.master_banner .text-banner{
			h2,h2 p{
				font-size: 40px;
		} 
	}
	.uk-button{
		width: 100%;
	}
	.subtitle-sections{
		letter-spacing: 12px;
	}
	.title-sections {
	    font-size: 22px;
	    letter-spacing: 14px;
	}
	.master_banner-empresas h1 {
	    font-size: 26px;
	    text-align: center;
	}
	.master_banner-empresas .imagem-destaque-empresa{
		top: 80%;
	}

}
